#accordion h2{
    font-weight: bold;
}
#accordion h2:hover{
    cursor: pointer;
}
#accordion h3:hover{
    cursor: pointer;
}

body #rs_easycart .rsec_headers a.rsec_online, body #rs_easycart .rsec_headers span.rsec_color,
body #rs_easycart .rsec_headers a.rsec_online .svg-icon{
    color: #ffffff;
}

body #rs_easycart .rsec_headers a.rsec_online .svg-icon{
    fill: #ffffff;
}

#distr_form input{
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #e7e7e7;
}

#distr_form label{
    font-size: 16px;
}

.showcase-item-slider{
    position: relative;
}
.showcase-item-slider .owl-nav{
    position: absolute;
    top: 53%;
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.showcase-item-slider:hover .owl-nav{
    opacity: 1;
}
.showcase-item-slider .owl-nav .owl-prev{
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(../assets/img/chevron.svg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
}
.showcase-item-slider .owl-nav .owl-next{
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
    background: url(../assets/img/chevron.svg);
    background-repeat: no-repeat;
}

.showcase-item-slider .owl-nav,
.showcase-item-slider .owl-nav .owl-prev,
.showcase-item-slider .owl-nav .owl-next {
    opacity: 1;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

@media (max-width: 1024px) {
    .view_showcase .js-element {
        height: auto !important;
        /*margin-bottom: 20px;*/
    }

    .view_showcase .js-element .inner {
        position: static;
    }

    .view_showcase .js-element .popup {
        display: block;
    }
}

@media (max-width: 1009px) {
    .gopro-banners .owl-carousel .owl-nav {
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
        -moz-opacity: .5;
        -khtml-opacity: .5;
        opacity: .5;
    }
}
