.ajaxpages{
    display: none;
}

.footer .line1 .contacts .feedback,
.gopro-banners__text1,
.header-basket__descr,
.rsfavorite .descr{
    color: black;
}

.authinhead .svg-icon{
    fill: black;
}

@media (max-width: 1000px){
    /*body.adaptive .view_showcase .js-element {*/
    .view_showcase .js-element {
        height: 331px;
    }

    .sections a.parent {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .sections a.parent {
        font-size: 13px;
    }

    .mainsections li.section {
        padding: 7px;
    }
}